.marketing {
  margin-top: 100px;
}

.btn-style {
  background-color: wheat !important;
  position: relative;
  left: 30px;
  border: none !important;
}

.row_centrado {
  padding-left: 11%;
  padding-bottom: 5%;
}
