@media only screen and (max-width: 1600px) {
  /*main*/

  .lookbook-link {
    img {
      width: 200px;
    }
  }

  .lookbook-caja {
    height: 80% !important;
  }
}

@media only screen and (max-width: 1024px) {
  /*main*/
  .lookbook-caja img {
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  /*main*/
  .lookbook-caja {
    display: flex;
    flex-direction: column;
    img {
      width: 300px;
    }
  }
}
